div {
    width: 800px;
/*     border-style: solid; */
    left: 0;
    right: 0;
/*     up: 10; */
    text-align: center;
    margin: auto;
}

debug {
  border: solid;
}

center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container   {
 width: 100%
}
#main-input {
    background: transparent;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0 8px;
    position: absolute;
    top: 2px;
    width: 100%;
}

#search-box {
    background-color: #fff;
    border: 1px solid rgb(185,185,185);
    border-radius: 1px;
    border-top-color: rgb(160,160,160);
    cursor: text;
    display: inline-block;
    font: 18px arial,sans-serif;
    height: 36px;
    line-height: 36px;
    max-width: 672px;
    position: relative;
    width: 618px;
}